

.editor-container {

    flex: 1;
    position: relative;

}


.editor-container > * {
    resize: none;
    background-color: white;
    border: none;
    border-radius: 5px;
    overflow: scroll;
    font-family: monospace;
    font-size: 12px;
    padding: 0.5vh 0.5vw;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.editor-container > code {
    z-index: 0;
}

.editor-container > textarea {
    z-index: 1;
    color: transparent;
    background: transparent;
    caret-color: blue;
}
