

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    background-color: lightgray;
}

header, main, footer {
    padding: 0.5vh 1vw;
    margin: 0px;
}

header, footer {
    background-color: grey;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.editor-grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
}

.editor-grid > * {
    padding: 0.5vh 0.5vw;
}

.editor-grid > #output-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.editor-grid.horizontal-output > #output-container {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.editor-grid.vertical-output > #output-container {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}



